@import "reset-styles.scss";
@import "mixins.scss";
@import "fonts-size.scss";
@import "colors.scss";

@import "components/header.scss";

body {
    font-family: "Montserrat", sans-serif;
    font-size: 62.5%;
    color: $color-green-dark-02;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    background-color: $color-gray-light;

    .main {
        background-color: $color-gray-light;
        width: 100%;
        height: 100vh;
    }
}