@import "reset-styles.scss";
@import "mixins.scss";
@import "fonts-size.scss";
@import "colors.scss";

@import "components/header.scss";
@import "components/option.scss";
@import "components/no-results.scss";
@import "components/results.scss";
@import "components/product.scss";

body {
    font-family: "Montserrat", sans-serif;
    font-size: 62.5%;
    color: $color-green-dark-02;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    background-color: $color-white;
    
    .main-panel {
        background-color: $color-white;
        width: 100%;
        @include spacing-internal;

        .wrapper-options {
            .row {
                display: flex;
                flex-direction: column;

                .col + .col {
                    margin-top: 5.15em;
                }
            }
        }
    }

    .container-result {
        overflow-x: hidden;
        background-color: $color-green-light-02;

        .hide {
            display: none;
        }
    }
}