.header-main {
    width: 100%;
    height: 100vh;
    background-color: $color-green-light;
    position: relative;
    overflow: hidden;

    @include for-desktop-up {
        background-image: url('../images/plantperson.png');
        background-size: 0;
        background-repeat: no-repeat;
        height: 70vh;
        animation: 1.15s animation-person-desktop forwards;
        animation-delay: 1s;
        
        @keyframes animation-person-desktop {
            0% {
                background-position: -70% 47%;
                background-size: 22%;
            }
            100% {
                background-position: 75% 47%;
                background-size: 22%;
            }
        }
    }

    &:before {
        content: '';
        background-image: url(../images/mobile-leaves.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top center;
        width: 100%;
        height: 560px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 1;
        opacity: 0;
        animation: animation-mobile-leaves-top .85s forwards;
        animation-delay: .4s;

        @include for-mobile {
            background-size: 100% 95%;
            height: 500px;
        }

        @include for-tablet {
            background-size: contain;
            background-repeat: repeat-x;
            background-position: unset;
        }

        @include for-desktop-up {
            animation: animation-mobile-leaves-left-desktop 1.45s forwards;
            background-image: url(../images/left-leaves.png);
            background-repeat: no-repeat;
            height: 100%;
            width: 77%;
            background-size: contain;
            margin: inherit;
            left: -6%;
        }

        @keyframes animation-mobile-leaves-left-desktop {
            0% {
                opacity: .35;
                transform: translateX(-300px);
            }
            100% {
                opacity: 1;
                transform: translateX(0);
            }
        }

        @keyframes animation-mobile-leaves-top {
            0% {
                opacity: .35;
                transform: translateY(-300px);
            }
            100% {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }

    &:after {
        content: '';
        background-image: url(../images/mobile-plant-person.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        width: 100%;
        height: 26em;
        position: absolute;
        bottom: 3em;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 0;
        animation: animation-mobile-plant-person .65s forwards;

        @include for-tablet {
            width: 36em;
            height: 32em;
        }

        @include for-desktop-up {
            opacity: 0;
            animation: animation-mobile-plant-right-desktop 1.45s forwards;
            animation-delay: .65s;
            background-image: url(../images/right-leaves.png);
            height: 103%;
            width: 50em;
            background-size: cover;
            margin: inherit;
            right: -10%;
            left: inherit;
            bottom: -10px;
        }

        @keyframes animation-mobile-plant-right-desktop {
            0% {
                opacity: .35;
                transform: translateX(200px);
            }
            100% {
                opacity: 1;
                transform: translateX(0);
            }
        }

        @keyframes animation-mobile-plant-person {
            0% {
                opacity: .35;
                transform: translateY(80px);
            }
            100% {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }

    .wrapper-move-down {
        display: inline-block;
        cursor: pointer;
        opacity: 0;
        animation: 1s animation-move-down forwards;
        animation-delay: 1.85s;
        position: relative;

        &:after {
            content: '';
            background-image: url(../images/arrow-down.svg);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
            width: 4em;
            height: 4em;
            margin-top: 2.35em;
            display: inline-block;
            transition: .3s transform ease-in-out;
        }

        @keyframes animation-move-down {
            0% {
                opacity: 0;
                transform: translateY(-45px);
            }
            100% {
                opacity: 1;
                transform: translateY(0);
            }
        }

        .container-image-arrow-down {
            transition: .45s transform ease-in-out;
        }
        
        &:hover,
        &:active,
        &:focus {
            &:after {
                transform: translateY(.85em);
            }
        }
    }

    .container {
        @include spacing-internal;
        position: relative;
        z-index: 1;

        @include for-desktop-up {
            width: 100%;
            max-width: 980px;
            margin: 0 auto;
            
            @include spacing-internal-dektop;
        }

        .container-logo {
            width: 14em;
            height: auto;
            margin-bottom: 3em;
            opacity: 0;
            animation: .35s animation-logo forwards;
            animation-delay: 1s;

            @include for-desktop-up {
                width: 18.5em;
            }

            * {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }

            @keyframes animation-logo {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
            
            svg {
                * {
                    fill: #F00;
                }
            }
        }
        
        .title {
            font-size: $font-02;
            color: $color-white;

            @include for-tablet {
                max-width: 15em;
            }

            @include for-desktop-up {
                font-size: $font-00;
                max-width: 7em;
                line-height: 1.15em;
            }
        }
    }
}