.container-option {
    @include for-tablet {
        width: 100%;
        max-width: 45em;
        margin: auto;
    }
    
    @include for-desktop {
        width: 100%;
        max-width: auto;
        margin: auto;
    }

    @include for-desktop-up {
        width: 100%;
        max-width: 25em;
        margin: 0 auto;
    }

    .container-image {
        width: 100%;
        max-width: 8em;
        height: auto;
        margin-bottom: 0.85em;

        @include for-tablet {
            margin: 0 auto .85em;
        }
        
        @include for-desktop {
            margin: 0 0 1.35em;
            width: 8em;
            height: 8em;
        }

        * {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .label-text {
        font-size: $font-04;
        color: $color-gray-light;
    }

    .wrapper-input {
        position: relative;
        border: 1px solid $color-gray-light;
        border-radius: 5em;
        margin-top: 1.85em;
        width: 100%;
        padding: 1.35em;

        &:after {
            content: '';
            background-image: url(../images/arrow-drop-down.svg);
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
            width: 2em;
            height: 2em;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 1.65em;
            margin: auto;
        }

        .select {
            background-color: transparent;
            width: 100%;
            -webkit-appearance: none;
            -moz-appearance: none;
            text-overflow: '';
            color: $color-gray-light;
        }
    }
}