.card-product {
    background-color: $color-white;
    padding: 3em 0 3em;
    border-radius: .85em;
    position: relative;
    min-width: 25em;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @include for-desktop-up {
        padding-bottom: 0;
    }

    &.product-staff-favorite {
        .main-card .container-image {
            @include for-desktop-up {
                margin-top: 1.45em;
                max-width: 26em;
            }
        }

        .footer-card {
            @include for-desktop-up {
                display: flex;

                .title-product {
                    line-height: .85em;
                    font-size: $font-02;
                    width: 5.5em;
                }

                .text-price {
                    font-size: $font-03;
                    margin-bottom: 0.35em;
                    display: inline-flex;
                }

                .row-02 {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-end;
                }

                .wrapper-icons {
                    .container-image.container-dog {
                        width: 3.45em;
                        height: 3.2em;
                    }
                    
                    .container-image.container-no-dog {
                        width: 3.45em;
                        height: 3.2em;
                    }

                    .container-image.container-image-sun {
                        width: 3.45em;
                        height: 3.25em;
                        margin-left: 1em;
                    }

                    .container-image.container-image-sun-low {
                        width: 2.35em;
                        height: 3.25em;
                        margin-left: 1em;
                    }

                    .container-image.container-image-water {
                        width: 3em;
                        height: 2.85em;
                    }
                }
            }
        }
    }

    .tag-favorite {
        position: absolute;
        top: 2em;
        left: 0;
        padding: 1em 1.35em 1em 1.65em;
        border-radius: 0 2em 2em 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color-green-light;

        &.tag-showing {
            opacity: 1;
        }

        &.tag-hidden {
            opacity: 0;
        }

        .container-image {
            width: 1.65em;
            height: 1.65em;
            margin-right: 0.45em;

            * {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        .text {
            font-weight: bold;
            color: $color-white;
            font-size: $font-06;
        }
    }

    .main-card {
        .container-image {
            width: 100%;
            max-width: 15em;
            height: auto;
            margin: 0 auto;

            @include for-desktop-up {
                max-width: 10.35em;
            }

            .image,
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
    
    .footer-card {
        padding: 0 2em;
        margin-top: 1em;
        margin-bottom: 1em;

        .title-product {
            color: $color-green-dark-03;
            font-size: $font-04;
            margin-bottom: 0.35em;
        }

        .text-price {
            color: $color-green-dark-03;
            font-size: $font-04;
        }

        .wrapper-icons {
            display: flex;
            align-items: center;
            margin-right: -0.65em;

            .container-image {
                width: 2.45em;
                height: 2.2em;
                position: relative;

                &:before {
                    content: '';
                    background-size: contain;
                    background-position: center center;
                    background-repeat: no-repeat;
                    width: 100%;
                    height: 100%;
                    display: inline-block;
                }

                &.container-image-pets {
                    &:before {
                        background-image: url(../images/icon-pets.svg);
                    }
                }

                &.container-image-no-pets {
                    &:before {
                        background-image: url(../images/icon-no-pets.svg);
                    }
                }

                &.container-image-water-regularly {
                    &:before {
                        background-image: url(../images/icon-water-regularly.svg);
                    }
                }

                
                &.container-image-water-daily {
                    &:before {
                        background-image: url(../images/icon-water-daily.svg);
                    }
                }

                &.container-image-water-rarely {
                    &:before {
                        background-image: url(../images/icon-water-rarely.svg);
                    }
                }

                &.container-image-sun-high {
                    &:before {
                        background-image: url(../images/icon-sun-high.svg);
                    }
                }

                &.container-image-sun-low {
                    &:before {
                        background-image: url(../images/icon-sun-low.svg);
                    }
                }

                &.container-image-sun-no {
                    &:before {
                        background-image: url(../images/icon-sun-no.svg);
                    }
                }
            }

            .container-image + .container-image {
                margin-left: 0.65em;
            }
        }

        .row {
            width: 100%;
            display: flex;
        }

        .row-02 {
            justify-content: space-between;
            align-items: center;
        }
    }
}