.card-product {
    background-color: $color-white;
    padding: 3em 0 2em;
    border-radius: .85em;
    position: relative;
    min-width: 25em;
    height: auto;

    .tag-favorite {
        position: absolute;
        top: 2em;
        left: 0;
        padding: 1em 1em 1em 1.65em;
        border-radius: 0 2em 2em 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color-green-light;

        &.tag-showing {
            opacity: 1;
        }

        &.tag-hidden {
            opacity: 0;
        }

        .container-image {
            width: 1.65em;
            height: 1.65em;
            margin-right: 0.45em;

            * {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        .text {
            font-weight: bold;
            color: $color-white;
            font-size: $font-05;
        }
    }

    .main-card {
        .container-image {
            width: 100%;
            max-width: 15em;
            height: auto;
            margin: 0 auto;

            .image,
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
    
    .footer-card {
        padding: 0 2em;
        margin-top: 1.35em;

        .title-product {
            color: $color-green-dark-03;
            font-size: $font-03;
            margin-bottom: 0.35em;
        }

        .text-price {
            color: $color-green-dark-03;
            font-size: $font-03;
        }

        .wrapper-icons {
            display: flex;
            margin-right: -0.65em;

            .container-image {
                width: 2.45em;
                height: 2.2em;

                &.container-image-water {
                    width: 1.7em;
                }

                &.container-image-sun {
                    width: 2.2em;
                }

                .image,
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            .container-image + .container-image {
                margin-left: 0.65em;
            }
        }

        .row {
            width: 100%;
            display: flex;
        }

        .row-02 {
            justify-content: space-between;
        }
    }
}