$color-white: #FFFFFF;
$color-gray-light: #848484;
$color-gray-light-02: #A9A9A9;
$color-green: #196146;
$color-green-dark: #0C261C;
$color-green-dark-02: #1E6B4E;
$color-green-dark-03: #257556;
$color-green-dark-04: #257556;
$color-green-light: #75BC97;
$color-green-light-02: #F2F2F2;